# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# Python Installer
pip-log.txt

# Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# PyCharm files
.idea/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o

# Sublime Text
.svn/

# User-specific files
*.suo
*.user
*.sln.docstates

# Visual Studio Code
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
